
.vs/trabalho_estrutura_dados_ordenacao/v17/Browse.VC.db
.vs/trabalho_estrutura_dados_ordenacao/v17/.suo
.vs/trabalho_estrutura_dados_ordenacao/v17/Browse.VC.db-shm
.vs/trabalho_estrutura_dados_ordenacao/v17/Browse.VC.db-wal
.vs/trabalho_estrutura_dados_ordenacao/v17/Browse.VC.opendb
.vs/trabalho_estrutura_dados_ordenacao/v17/ipch/AutoPCH/b2f41ce5e079ea0b/TRABALHO_ESTRUTURA_DADOS_ORDENACAO.ipch
